#Warfarin Dose Prediction

In [ ]:
cd /content/drive/MyDrive/Colab\ Notebooks/FinalProject

/content/drive/MyDrive/Colab Notebooks/FinalProject

In [ ]:
import pandas as pd
dataset = pd.read_csv("dataset.csv")

In [ ]:
data = pd.DataFrame(dataset)
data = dataset[["Gender", "Race (Reported)", "Age", "Height (cm)", "Weight (kg)", "Diabetes", "Simvastatin (Zocor)", "Amiodarone (Cordarone)", "Target INR", "INR on Reported Therapeutic Dose of Warfarin", "Cyp2C9 genotypes", "VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T", "Therapeutic Dose of Warfarin"]]

In [ ]:
X = data[["Gender", "Race (Reported)", "Age", "Height (cm)", "Weight (kg)", "Diabetes", "Simvastatin (Zocor)", "Amiodarone (Cordarone)", "Target INR", "INR on Reported Therapeutic Dose of Warfarin", "Cyp2C9 genotypes", "VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T"]]
y = data[["Therapeutic Dose of Warfarin"]]

In [ ]:
data.to_csv('data.csv',index=False)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 13 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Gender                                                             5696 non-null   object
 1   Race (Reported)                                                    5194 non-null   object
 2   Age                                                                5658 non-null   object
 3   Height (cm)                                                        4554 non-null   float64
 4   Weight (kg)                                                        5413 non-null   float64
 5   Diabetes                                                           3283 non-null   float64
 6   Simvastatin (Zocor)                                                3861 non-null   float64
 7   Amiodarone (Cordarone)                                             4182 non-null   float64
 8   Target INR                                                         1259 non-null   float64
 9   INR on Reported Therapeutic Dose of Warfarin                       4968 non-null   float64
 10  Cyp2C9 genotypes                                                   5567 non-null   object
 11  VKORC1 genotype: -1639 G>A (3673); chr16:31015190; rs9923231; C/T  4046 non-null   object
 12  Therapeutic Dose of Warfarin                                       5528 non-null   float64
dtypes: float64(8), object(5)
memory usage: 625.9+ KB

In [ ]:
data.describe()

,Height (cm),Weight (kg),Diabetes,Simvastatin (Zocor),Amiodarone (Cordarone),Target INR,INR on Reported Therapeutic Dose of Warfarin,Therapeutic Dose of Warfarin
count,4554.000000,5413.000000,3283.000000,3861.000000,4182.000000,1259.000000,4968.000000,5528.000000
mean,168.047811,77.853057,0.187024,0.146335,0.066236,2.538324,2.364436,30.977873
std,10.846051,21.860018,0.389990,0.353488,0.248724,0.198140,0.464645,16.801040
min,124.970000,30.000000,0.000000,0.000000,0.000000,1.300000,0.800000,2.100000
25%,160.020000,62.000000,0.000000,0.000000,0.000000,2.500000,2.100000,19.530000
50%,167.890000,75.000000,0.000000,0.000000,0.000000,2.500000,2.400000,28.000000
75%,176.020000,90.000000,0.000000,0.000000,0.000000,2.500000,2.610000,38.500000
max,202.000000,237.700000,1.000000,1.000000,1.000000,3.500000,6.100000,315.000000